/Biblioteca/nbproject/private/
/Biblioteca/build/
/colecoes/nbproject/private/
/colecoes/build/
/ponteiro/build/
/ponteiro/dist/
/AgendaList/nbproject/private/
/AgendaList/build/
/AgendaMap/nbproject/private/
/Biblioteca/dist/